body {
	margin: 0;
	/*box-sizing: border-box;*/
	font-size: 16px;
	font-family: Calibri Light;
	}
	
#container {
	width: 1200px; /*1536px*/
	margin: 0 auto;
	padding:0;
	
	background-image: url(kreska.png);

	}
		
#logo{
	width:100%;
		
	/*padding-top:80px;
	padding-bottom:30px;*/
		

	background-color: #000060;
	height: 200px;
	margin: 0 auto;
	
		

	color: yellow;

		
	box-shadow:0 0 0 0px;
	}
	
#logo > h1{
	line-height: 200px;
	font-size: 90px;
	font-weight: normal;
	margin: 0;
	margin-left: 15px;
}

.option
{
	
	text-align: center;
	padding: 5px;
	color: yellow;
	float: left;
	width: 229.2px; 
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	border-right: 1px solid yellow;
	background-image:linear-gradient( #000060 10%, #0000A0 90%); /*10 90*/
}

.navbar>div:nth-last-child(1){
	border-right: 0;
}

.navbar{
	margin-bottom: 10px;
}

.option:hover {
	background-image: none; /*konieczne jest rêczne kasowanie gradientu t³a*/
	background-color: white;
	color: #000060;
}

.row-div{
	height: 600px;
}

.content{
	background-color: #0000A0;
	float: left;
	margin-top: 2px;
}

.margin{
	float: left;
}
		

      #menu {
        margin:0 auto;
        padding:0;

      }

 

      #menu > li:hover > a {
        color:#00F;
        background-color:#FFF;
        background-image:none;
      }
